/* .sidebar {
    height: 100vh;
    width: 15%;
    background-color: grey;
}

.searchbar-hamburger-stack{
    display: flex;
    flex-direction: row;
}
  
.searchbar-mainContent-stack{
    display: flex;
    flex-direction: column;
    background-color: rgb(253, 209, 150);
    width: 100%;
    transition: transform 0.3s ease-in-out;
}

.menu-icon{
    margin: 1.3rem 0rem 0rem 1rem;
    transform: scale(1.3);
}

.home-page{
    display: flex;
    flex-direction: row;
    height: auto;
}

.hamburger-menu{
    height: 100vh;
    width:70vw;
    background-color: aquamarine;
    z-index:100;
}

.searchbar{
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin-top: 0.5rem;
    width: 100%;
}

.hamburger-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 99;
  }


  .mobile-hamburger-menu{
    width: 70%;
    height: 100vh;
    background-color: whitesmoke;
  }

@media (max-width: 1199px) {
    .sidebar{
        width: 20%;
    }
}

@media (max-width: 949px) {
    .sidebar{
        width: 25%;
    }
}
@media (max-width: 799px) {
    .sidebar{
        width: 30%;
    }
} */


/* =================Mobile View================== */
.mobile-header{
    display: flex;
    flex-direction: row;
    background-color: aquamarine;
}

.menu-icon{
    margin: 1rem 1.5rem 0rem 1rem;
    transform: scale(1.3);
}

.mobile-sidebar{
    width: 200px;
    height: 100vh; /* Adjust height as needed */
    background-color: rgb(255, 255, 255);
    position: absolute;
    z-index: 99;
    transition: transform 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.mobile-sidebar.sidebar-open {
    transform: translateX(0);
}
  
.mobile-sidebar.sidebar-closed {
    transform: translateX(-100%);
}

.overlay {
    position: absolute; 
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.545);
    z-index: 0;
}

/* =================Desktop View================== */
.home-page{
    display: flex;
    flex-direction: row;
    height: auto;
}

.desktop-sidebar {
    height: 100vh;
    width: 20%;
    background-color: grey;
}

.searchbar-mainContent-stack{
    display: flex;
    flex-direction: column;
    background-color: rgb(253, 209, 150);
    width: 100%;
    transition: transform 0.3s ease-in-out;
}

.searchbar{
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin-top: 0.5rem;
    width: 100%;
}

@media (min-width: 1500px) {
    .desktop-sidebar{
        width: 15%;
    }
}
@media (max-width: 1199px) {
    .desktop-sidebar{
        width: 25%;
    }
}

@media (max-width: 949px) {
    .desktop-sidebar{
        width: 30%;
    }
}
@media (max-width: 799px) {
    .desktop-sidebar{
        width: 35%;
    }
} 
