.back-button{
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 0.1rem;
    left: 1.5rem;
    cursor: pointer;
}

.back-button > p {
    margin-left: 0.7rem;
}

.back-icon{
    margin-top: 1rem;
}

.forgot-password-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    height: 80%;
    border-radius: 10px;
    padding: 2rem;
}

@media (max-width: 599px) {
    .forgot-password-form{
        margin-top: 5vh;
    }
}