.login-page{
    display: grid;
    grid-template-columns: 4fr 5fr;
}

.login-form-container{
    grid-column: 1;
    margin: auto;
}

.login-image-container{
   grid-column: 2;
   height: 100vh;
   background: url('../Assets/loginImage.png') no-repeat center center;
   background-size: cover;
}

/* ============== Media Queries =============== */
@media (max-width: 899px) {
    .login-page{
        display: grid;
        grid-template-columns: 5fr 4fr;
    }
}
@media (max-width: 599px) {

    .login-page{
        grid-template-columns: 1fr;
    }
    .login-image-container{
        display: none;
    }

    .login-form-container{
        display: flex;
        justify-content: center;        
    }
}
