.table-container{
  height:1000px;
  overflow: hidden;
  width: 100%
}

/* hide header behind modals */
#root > div > div > div.searchbar-mainContent-stack > div:nth-child(3) > div > div.main-component > div > div > div > div > table > thead {
  z-index: 0 !important;
  position: sticky;
  top: 0px;
}

.even-row {
  background-color: #f2f2f2;
}


.css-1q1u3t4-MuiTableRow-root:nth-child(odd) {
  background-color: rgb(230, 230, 230);
}