.form-container-centered{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.newJobModalInput{
    margin-top: 1.5rem !important;
    width: 100%;
}

.divider{
    border-top: rgba(128, 128, 128, 0.517) solid 1px;
    width: 100%;
}

.date-input-container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
}

.date-input{
    width: 100%;
}

.date-input > * {
    flex: 1; 
    width: 100%;
    margin-top: 2rem;
}

.form-container-left-aligned{
    display: flex;
    flex-direction: column;
}

.favourite-checkbox{
    margin-top: 1rem;
    margin-left: 0.3rem;
}

.button-container{
   display: flex;
   flex-direction: row;
   margin: 1rem auto;
   width: 50%;
   justify-content: space-evenly;
}

.form-button{
    width: 45%;
}